.header{
    background-color: black;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
.logo{
    font-size: 35px;
    color: black;
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
}
.menu-navbar{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}  

.icon-navbar{
    margin-left: 50px;
}