.producto{
    width: 450px;
    height: 520px;
    position: relative;
    border: 1px solid grey;
    margin-bottom: 25px;
}
.picture{
    position: relative;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.producto-span{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    font-weight: 600;
    background-color: crimson;
    color: white;
    padding: 1rem 1rem;
}
.producto-img-1{
    width: 400px;
    height: 330px;
    object-position: center;
    object-fit: contain;

    animation: opacity 0.7s;
}

.producto a{
    width: 450px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.producto-info{
    padding: 32px;
    gap: 16px;
    display: grid;
    grid-template-rows: 10px 50px 50px;
    flex-direction: column;
    
    align-items: flex-start;
}
.prodcuto-marca{
    color: black;
    font-size: 10px;
    font-weight: 400px;
}

.producto-titulo{
    color: black;
    font-size: 17px;
    font-weight: bold;
}
.producto-precio{
    color: rgb(0, 0, 0);
    font-size: 18px;
}
